.total{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 100px;
    padding: 20px;
    box-shadow: 10px 5px 5px #ccc;
    border: 1px solid #dddddd;
    border-radius: 3px;
    text-align: center;
}

.total > button {
    background: #000000;
    border-radius: 2px;
    width: 30%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    color: white;
    text-align: center;
    margin: auto;
}

@media (max-width:888px){
    .total > button{
        width: 100%;
    }
}