.detail{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: 25px;
    flex-wrap: wrap;
    min-height:688px;
    align-items: center;

}

.detail__product{
    min-width: 25%;
    height: 400px;
    box-shadow: 10px 5px 5px #ccc;
    
}

.detail__product > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    background-color: #ccc;    
}


.detail__info{
    max-width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    text-align: center;
    box-shadow: 5px 5px 15px black;
    background-color: white;
    padding: 20px;
}

.detail__info > h2{
    margin: 10px;
    text-align: center;
}


.detail__info > p{
    margin: 10px;
}


.detail__buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.detail__buttons > button{
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    width: 5%;
    background-color: black;
    color: white;
    cursor: pointer;
}


.detail__add{
    width: 50%;
    margin: auto;
    color: white;
    background-color: black;
    cursor: pointer;
}



.buybutton{
    display: flex;
    justify-content: center;
}

.buybutton button{
    padding: 4px;
    display: block;
    float: left;
    margin: 10px;
    color: white;
    background-color: black;
    font-size: 14px;
    border-radius: 50px;
    cursor: pointer;
}




.detail__outofstock{
    color: red;
    font-weight: 700;
    font-size: 25px;
}





@media (max-width: 922px){
    .detail__info{
        min-width: 90%;
        min-height: 350px;
    }
    .detail{
        padding-top: 20px;
        padding-bottom: 30px;
    }
}