.producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
    padding: 20px;
    width: 20%;
    max-height: 400px;
    min-width: 100px;
    z-index: 1;
    background-color: white;
    transition: all 300ms;
}

.producto > img{
    width: 100%;
    height: 300px;
    object-fit: contain;
    margin-bottom: 15px;
}



.producto__info{
    height: 70px;
    margin-bottom: 15px;
    text-align: center;
}

.producto:hover{
    transform: scale(1.1);
}

.producto__precio{
    margin-top: 5px;
}

.producto > button{
    color: white;
    background-color: rgba(26, 0, 0, 0.973);
    margin-top: 10px;
    border-radius: 5px;
    border: 3px solid rgb(0, 0, 0);
}

.producto > button:hover{
    cursor: pointer;
}

.producto__botones{
    display: flex;
    width: 15%;
    justify-content: space-between;
}

.producto__buttom{
    color: white;
    background-color: rgba(26, 0, 0, 0.973);
    margin-top: 10px;
    border-radius: 5px;
    border: 3px solid rgb(0, 0, 0);
}

.producto__buttom:hover{
    cursor: pointer;
}

@media (max-width: 420px){
    .producto{
        width: 60%;
        margin: 10px;
    }
    .producto__info{
        margin-bottom: -70px;
    }
    .producto > img{
        margin-bottom: -30px;
    }
}

@media (min-width: 420px) and (max-width:836px){
    .producto{
        width: 30%;
        margin:20px;
    }
    .producto__info{
        margin-bottom: -70px;
    }
    .producto > img{
        margin-bottom: -30px;
    }
}

@media (min-width: 836px) and (max-width:1240px){
    .producto{
        width: 20%;
        margin:20px;
    }
    .producto__info{
        margin-bottom: -70px;
    }
    .producto > img{
        margin-bottom: -30px;
    }
}
