
.principal__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
    width: 100%;
    margin: auto;
    background-color: #ccc;
    padding-bottom: 150px;
}

.principal__row p{
    font-size: 20px;
    font-weight: 600;
}



.principal__banner{
    width: 100%;
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgba(0, 0,0,1), rgba(0, 0, 0, 0));
    margin-bottom: -20%;
}