.productoscarrito{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    border: solid 1px black;
    box-shadow: 1px 1px 5px white;
    width: 100%;
}


.productoscarrito__img{
    object-fit: contain;
    width: 180px;
    height: 170px;
    width: 50%;
}

.productoscarrito__info{
    margin-top: 10px;
    text-align: center;
    width: 50%;
}


.productoscarrito__info > button{
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;

}

.productoscarrito__nombre{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
}
