.total{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    padding: 20px;
    background-color: white;
    box-shadow: 1px 1px 5px white;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
}

@media (max-width:888px){
    .total{
        min-width: 70%;
    }
}